<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">데이터 구조(Data Structure)</p>

데이터 구조(Data Structure) 혹은 자료구조란 데이터에 효율적인 접근 및 수정을 가능케 하는 데이터의 구성, 관리 및 저장형식을 의미합니다.

보다 정확하게는 데이터 값들, 해당 값들의 관계, 그리고 해당 데이터들에게 적용할 수 있는 함수와 명령어들의 모음을 총칭하는 단어입니다.


**<데이터의 분류>**
- 순서가 있는 데이터 구조(Orderd)
    - 문자열
    - 리스트
    - 튜플
- 순서가 없는 데이터 구조(Unorderd)
    - 셋(Set)
    - 딕셔너리(Dictionary)


<img src="https://user-images.githubusercontent.com/90173310/148184923-9b2910aa-a08c-4027-9315-b8d866819a6c.png" alt="drawing" width="700"/>

---

<p style="font-size: 30px; font-weight: 700; margin-bottom: 3rem; color:#2889CC">순서가 있는 데이터 구조</p>

# 문자열(String)

> 변경할 수 없고(immutable), 순서가 있고(ordered), 순회 가능한(iterable)

참고 : [문자열의 다양한 조작법(method)](https://docs.python.org/ko/3/library/stdtypes.html#string-methods)

## 조회/탐색

### `.find(x)` 

x의 **첫 번째 위치**를 반환합니다. 만일 리스트 내에 x가 없으면, `-1`을 반환합니다.

In [2]:
a = 'apple'

In [3]:
# find 메서드로 a 문자열에 'p'가 있는지 찾아봅시다.

print(a.find('p'))

1

In [4]:
# find 메서드로 a 문자열에 'z'가 있는지 찾아봅시다.

print(a.find('z'))

-1

### `.index(x)`

x의 **첫 번째 위치**를 반환합니다. 만일 x가 리스트 내에 없으면, 오류가 발생합니다.

In [5]:
a = 'apple'

In [6]:
# index 메서드는 찾고자 하는 문자가 문자열 내에 있을 경우, 첫 번째 위치를 반환합니다.
# index 메서드로 a 문자열에서 'p'의 위치를 확인해봅시다.

print(a.index('p'))

1

In [7]:
# 찾고자 하는 문자가 문자열 내에 없을 경우, 오류가 발생합니다.
# index 메서드로 a문자열에서 'z'의 위치를 찾고, 오류를 확인해봅시다.

print(a.index('z'))

ValueError: ignored

### `.startswith(x)`, `/.endswith(x)`

- `.startswith(x)` : 문자열이 x로 시작하면 True를 반환하고 아니면 False를 반환합니다.
- `.endswith(x)` : 문자열이 x로 끝나면 True를 반환하고 아니면 False를 반환합니다.

[PEP8 파이썬 스타일 가이드](https://www.python.org/dev/peps/pep-0008/)에서는 접두/접미 문자를 검색 시,
화이트 스페이스나 인코딩 문제를 피하기 위해 문자열 분할보다 **startswith, endswith**를 권장합니다.

```
Use ''.startswith() and ''.endswith() instead of string slicing to check for prefixes or suffixes.

startswith() and endswith() are cleaner and less error prone:

# Correct:
if foo.startswith('bar'):
# Wrong:
if foo[:3] == 'bar':
```

In [10]:
a = 'hello python!'

In [11]:
# startwith 메서드를 통해 접두문자가 'hello'인지 확인해봅시다.

print(a.startswith('hello'))

True

### 기타 문자열 관련 검증 메서드

`is~` 로 시작하는 많은 메서드들은 문자열이 어떠한 조건에 해당하는지 검증하는 역할을 합니다.

- `.isalpha()` : 문자열이 (숫자가 아닌)글자로 이루어져 있는가?
-  `.isspace()` : 문자열이 공백으로 이루어져 있는가?
-  `.isupper()` : 문자열이 대문자로 이루어져 있는가?
-  `.istitle()` : 문자열이 타이틀 형식으로 이루어져 있는가?
-  `.islower()` : 문자열이 소문자로 이루어져 있는가?

등

**숫자 판별 메서드**
- `.isdecimal()`: 문자열이 0~9까지의 수로 이루어져 있는가?
- `.isdigit()`: 문자열이 숫자로 이루어져 있는가?
- `.isnumeric()`: 문자열을 수로 볼 수 있는가?


| isdecimal() | isdigit() | isnumeric() |          Example               |
|:-----------:|:-----------:|:-----------:|:----------------------------------:|
|    True     |    True   |    True     | "038", "੦੩੮", "０３８"             |
|  False      |    True   |    True     | "⁰³⁸", "🄀⒊⒏", "⓪③⑧"          |
|  False      |  False    |    True     | "↉⅛⅘", "ⅠⅢⅧ", "⑩⑬㊿", "壹貳參"   |
|  False      |  False    |  False      | "abc", "38.0", "-38"             |

In [14]:
a = '    n'
b = '\n \t '

In [15]:
# isspace 메서드를 통해 a, b가 공백으로 이루어져 있는지 확인해봅시다.

print(a.isspace())
print(b.isspace()) ##whitespace로만 이루어져있으면 True

False
True

In [19]:
###whitespace
import string

string.whitespace

' \t\n\r\x0b\x0c'

In [20]:
a = '파이썬'
b = 'python'
c = 'python 3.9.9'

In [21]:
# isalpha 메서드를 통해 문자열 a, b, c에 대한 알파벳 여부를 확인해봅시다.

print(a.isalpha())
print(b.isalpha())
print(c.isalpha())

True
True
False

## 문자열 변경

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다.

count를 지정하면 해당 갯수만큼만 시행합니다.

> **(참고)** 메서드 설명에서 `[]` 표기는 해당 parameter가 선택적임을 나타냅니다.

In [22]:
a = 'yaya!'
b = 'wooooowoo'

In [23]:
# replace 메서드를 통해 a의 글자 y를 h로 변경해봅시다.

print(a.replace('y','h'))

haha!

In [24]:
# replace 메서드를 통해 b의 글자 o 2개를 _로 변경해봅시다.

print(b.replace('o','_',2))

w__ooowoo

### `.strip([chars])`

`.strip([chars])`은 특정한 문자들을 지정하면 문자열의 모든 조합을 제거합니다. 인자가 없을 경우 공백을 제거합니다.

`.lstrip([chars])`은 특정한 문자들을 지정하면 문자열의 왼쪽으로 모든 조합을 제거합니다. 인자가 없을 경우 왼쪽 공백을 제거합니다.

`.rstrip([chars])`은 특정한 문자들을 지정하면 문자열의 오른쪽으로 모든 조합을 제거합니다. 인자가 없을 경우 오른쪽 공백을 제거합니다.


`chars` 파라미터를 지정하지 않으면 공백을 제거합니다.

In [1]:
a = '   hello!  \n'
b = 'hihihihahahahihi'
c = 'monty python'

In [2]:
# strip 메서드로 a의 양쪽 공백을 제거해봅시다.

print(a.strip())

hello!

In [3]:
print('    hello!    \x0b'.strip())

hello!

In [4]:
# lstrip 메서드로 a의 왼쪽 공백을 제거해봅시다.

print(a.lstrip()) #한줄 띄어쓰기가 숨어있는

hello!

In [5]:
# rstrip 메서드로 b의 오른쪽에서부터 글자 hi를 제거해봅시다.

print(b.rstrip('hi'))

hihihihahaha

In [93]:
# `chars` 파라미터를 지정한 경우, 모든 조합을 이용하여 제거합니다.
# rstrip 메서드로 c의 오른쪽에서부터 글자 ' python'을 제거해봅시다.

print(c.rstrip('ython').rstrip(' p'))

print(c.rstrip('python').rstrip()) #p,y,t,h,o,n을 제거하다가 마지막 공백에 막혀서 'monty ' 그리고 여기서 오른쪽 공백 제거

monty
monty

In [3]:
print(c.removesuffix(' python')) ##3.9이상.. 버전 올려서 자동완성있는데 왜 안됨?

AttributeError: ignored

### `.split([chars])`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [5]:
a = 'a_b_c'

In [7]:
# split 메서드로 _를 기준으로 문자열을 나누어 리스트로 반환해봅시다.

print(a.split('_'))

['a', 'b', 'c']

In [8]:
# 사용자의 입력값을 받아 i에 저장합니다.
# 입력받은 문자열을 split 메서드로 공백을 기준으로 나누어 리스트로 반환해봅시다.

i = input('입력하세요 :')

print(i.split())

입력하세요 :yun dae hyuck
['yun', 'dae', 'hyuck']

### `'separator'.join(iterable)`
iterable 의 문자열들을 separator(구분자)로 이어 붙인(`join()`) 문자열을 반환합니다.

다른 메서드들과 달리, <u>**구분자**</u>가 join 메서드를 제공하는 문자열입니다.

In [10]:
word = '배고파'
words = ['안녕', 'hello']

In [11]:
# join 메서드로 word의 문자열 사이에 !를 넣은 결과를 반환해봅시다.

print('!'.join(word))

배!고!파

In [12]:
# join 메서드로 words의 문자들을 하나로 합친 결과를 반환해봅시다.

print(''.join(words))

안녕hello

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

* `.title()` : 어포스트로피(*'*)나 공백 이후를 대문자로 만들어 반환합니다.

* `.upper()` : 모두 대문자로 만들어 반환합니다.

In [14]:
a = 'hI! Everyone, I\'m kim'

In [15]:
# capitalize 메서드로 a의 앞글자를 대문자로 만들어 반환해봅시다.

print(a.capitalize()) #앞글자는 대문자로하고 나머지는 소문자로 만든다

Hi! everyone, i'm kim

In [16]:
# title 메서드로 a의 각각의 단어 앞글자를 대문자로 만들어 반환해봅시다.

print(a.title())

Hi! Everyone, I'M Kim

In [17]:
# upper 메서드로 a를 모두 대문자로 만들어 반환해봅시다.

print(a.upper())

HI! EVERYONE, I'M KIM

In [18]:
# print 함수로 a를 출력하여 원본 데이터를 확인해봅시다. 원본 안바꿨는데

print(a)

hI! Everyone, I'm kim

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환합니다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [20]:
a = 'hI! Everyone, I\'m kim'

In [21]:
# lower 메서드로 a을 모두 소문자로 만들어 반환해봅시다.

print(a.lower())

hi! everyone, i'm kim

In [22]:
# swapcase 메서드로 a의 대소문자를 서로 변경하여 반환해봅시다.

print(a.swapcase())

Hi! eVERYONE, i'M KIM

In [23]:
# print 함수로 a를 출력하여 원본데이터를 확인해봅시다.

print(a)

hI! Everyone, I'm kim

## 문자열 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [24]:
# dir 함수로 문자열이 가지고 있는 메서드를 확인할 수 있습니다.
dir('string') # dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

---

# 리스트(List)

> 변경 가능하고(mutable), 순서가 있고(ordered), 순회 가능한(iterable)

![image](https://user-images.githubusercontent.com/90173310/148152798-e42f9525-2eef-4bf7-bf0b-6031a0913693.png)

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

`a[len(a):] = [x]` 와 동일합니다.

In [33]:
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [34]:
# append 메서드로 cafe에 banapresso를 추가해봅시다.

cafe.append('banapresso')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso']

In [32]:
cafe[len(cafe):] = ['banapresso']

print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string) 값을 붙일 수가 있습니다.

`a[len(a):] = iterable` 와 동일합니다.

In [35]:
# extend 메서드로 cafe에 ['wcafe', '빽다방']를 추가해봅시다.

cafe.extend(['wcafe','빽다방'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방']

In [36]:
# += 연산자로 cafe에 ['mc_cafe', 'droptop']를 추가해봅시다.
# 앞서 배운 list concatenate와 동일합니다.

cafe += ['mc_cafe','droptop']

print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop']

In [37]:
# append vs extend

# append 메서드로 cafe에 ['coffeenie']를 추가해봅시다.

cafe.append(['coffeenie'])

print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie']]

In [38]:
# append vs extend

# extend 메서드로 cafe에 ['twosome_place']를 추가해봅시다.

cafe.extend(['twosome_place'])

In [39]:
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place']

In [40]:
# extend 메서드로 cafe에 문자열 ediya를 추가해봅시다.

cafe.extend('ediya')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [41]:
# insert 메서드로 cafe 첫번째에 문자열 start를 넣어봅시다.

cafe.insert(0,'start')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a']

In [45]:
# insert 메서드로 cafe 마지막에 문자열 end를 넣어봅시다.
# 마지막 위치는 len함수를 이용합니다.

cafe.insert(len(cafe),'end')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a', 'end']

In [44]:
cafe = ['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a']

cafe.insert(len(cafe)-1,'end')
print(cafe)

In [46]:
# insert 메서드로 cafe 길이보다 큰 인덱스에 문자열 !를 넣어봅시다.
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

cafe.insert(len(cafe)+1000,'!')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a', 'end', '!']

In [47]:
# a.insert(0, x)는 리스트의 처음에 x를 삽입하고,
# a.insert(len(a), x) 는 a.append(x) 와 같습니다.

cafe.insert(0,'good')
cafe.insert(len(cafe),'great')
print(cafe)

['good', 'start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a', 'end', '!', 'great']

### `.remove(x)`

리스트에서 값이 x인 첫번째 항목을 삭제합니다.

만일 그런 항목이 없으면 `ValueError`가 발생합니다.

In [49]:
numbers = [1, 2, 3, 1, 2]

In [50]:
# remove 메서드로 1을 삭제 해봅시다.

numbers.remove(1)

print(numbers)

[2, 3, 1, 2]

In [51]:
# remove 메서드로 1을 한 번 더 삭제 해봅시다.

numbers.remove(1)

print(numbers)

[2, 3, 2]

In [52]:
# remove는 값이 없으면 오류가 발생합니다.
# remove 메서드로 1을 한 번 더 삭제하여, 확인해봅시다.


numbers.remove(1)
print(numbers)

ValueError: ignored

### `.pop([i])`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [53]:
numbers = [1, 2, 3, 4, 5, 6]

In [54]:
# pop 메서드로 가장 앞에 있는 숫자를 삭제해봅시다.
# 삭제후 numbers를 출력해봅시다.

numbers.pop(0)

print(numbers)

[2, 3, 4, 5, 6]

In [55]:
# pop 메서드로 가장 마지막에 있는 숫자를 삭제하고 결과를 a에 저장합니다.
# 삭제된 숫자와 결과를 모두 출력해봅시다.

a = numbers.pop()

print(numbers)
print(a)

[2, 3, 4, 5]
6

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [56]:
numbers = [1, 2, 3, 4, 5, 6]

In [57]:
# clear 메서드로 리스트의 모든 항목을 삭제합니다.

numbers.clear()

print(numbers)

[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [58]:
a = [1, 2, 3, 4, 5]

In [59]:
# index 메서드로 숫자 3이 있는 위치를 반환합니다.

print(a.index(3))

2

In [60]:
# index는 찾는 값이 없으면 오류가 발생합니다.
# index 메서드로 숫자 100이 있는 위치를 확인해봅시다.

print(a.index(100))

ValueError: ignored

### `.count(x)`

원하는 값의 개수를 반환합니다.

In [61]:
a = [1, 2, 5, 1, 5, 1]

In [62]:
# count 메서드로 1의 개수를 확인해봅시다.

print(a.count(1))

3

In [63]:
# 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
a = [1, 2, 1, 3, 4]
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)
print(a)

[2, 3, 4]

### `.sort()`

리스트를 정렬합니다.

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **`None`**을 리턴합니다.

파라미터로는 `key`와 `reverse`가 있습니다.

In [66]:
# lotto에 1부터 45 까지의 숫자가 들어있는 리스트를 저장합니다.
# 6개의 숫자를 랜덤으로 저장합니다.
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[37, 4, 14, 44, 2, 41]

In [65]:
# sort 메서드로 리스트를 정렬합니다.
# sort 메서드를 실행한 결과와 원본을 각각 출력해봅니다.

print(lotto.sort())
print(lotto)

None
[3, 22, 25, 28, 43, 45]

In [67]:
# sort 메서드의 reverse옵션을 이용하여 역순 정렬합니다.

lotto.sort(reverse=True)
print(lotto)

[44, 41, 37, 14, 4, 2]

In [68]:
# sorted 함수를 사용한 결과와 비교해봅시다.
import random
lotto = random.sample(range(1, 46), 6)
print(lotto, sorted(lotto))

[39, 2, 16, 43, 41, 24] [2, 16, 24, 39, 41, 43]

### `.reverse()`

리스트의 element들을 제자리에서 반대로 뒤집습니다.
정렬하는 것이 아닌 원본 순서를 뒤집고 수정합니다.

내장함수 `reversed()` 와는 다르게 **원본 list를 변형**시키고, **`None`**을 리턴합니다.

sort와 마찬가지로, 파라미터 `key`와 `reverse`가 있습니다.

In [71]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [70]:
# reverse 메서드로 리스트를 역순으로 만들어줍니다.

classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

## 리스트 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [74]:
# dir 함수로 리스트가 가지고 있는 메서드를 확인할 수 있습니다.
dir(list) # dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

---

# 튜플(tuple)

> 변경할 수 없는 불변(Immutable) 자료형

![image](https://user-images.githubusercontent.com/90173310/148331867-25aba08c-d76b-4bf0-a7d3-106db29d2db2.png)

- 값을 변경할 수 없기 때문에 값에 영향을 미치지 않는 메서드만을 지원합니다.

In [75]:
# 튜플은 불변자료형이기 때문에 값을 변경하는 메서드는 사용할 수 없습니다.
# append를 통해 'tuple'을 추가하여 어떤 오류가 나타나는지 확인해봅시다.

dust = (58,40,70,60,120,54,23,50)

dust.append(80)

print(dust)

AttributeError: ignored

## 탐색
### `.index(x[, start[, end]])`

튜플에 있는 항목 중 값이 x 와 같은 첫 번째 인덱스를 돌려줍니다.

해당하는 값이 없으면, ValueError를 발생합니다.

In [76]:
a = ('hello','python','python','django','web')

In [78]:
# python이 가장 처음 나타난 위치를 확인하세요.

print(a.index('python'))

1

In [79]:
# index는 찾는 값이 없으면 오류가 발생합니다.
# index 메서드로 algorithm의 위치를 확인하세요.

print(a.index('algorithm'))

ValueError: ignored

### `.count(x)`
튜플에서 x 가 등장하는 횟수를 돌려줍니다.

In [80]:
# count 메서드를 통해 a의 요소들 중 python의 갯수를 확인하세요.

print(a.count('python'))

2

---

<p style="font-size: 30px; font-weight: 700; margin-bottom: 3rem; color:#2889CC">순서가 없는 데이터 구조</p>

- 알고리즘에 빈번히 활용되는 순서가 없는(unordered) 데이터 구조
    - 셋(Set)
    - 딕셔너리(Dictionary)

# 셋(Set)

> 변경 가능하고(mutable), 순서가 없고(unordered), 순회 가능한(iterable)

![image](https://user-images.githubusercontent.com/90173310/148152940-d5feff4f-f950-4e58-87ab-fcdedba7e825.png)

## 추가 및 삭제

### `.add(elem)`
elem을 셋(set)에 추가합니다.

In [81]:
a = {'사과', '바나나', '수박'}

In [82]:
# add 메서드로 셋(set) a에 '포도'를 각각 2번 작성한 이후 셋(set) a를 출력해봅시다.

a.add('포도')
a.add('포도')

print(a)

{'바나나', '포도', '사과', '수박'}

### `.update(*others)`

여러 값을 추가합니다.

반드시 iterable 데이터 구조를 전달해야합니다.

In [83]:
a = {'사과', '바나나', '수박'}

In [84]:
# update 메서드로 셋(set) a에
# {'토마토', '토마토', '딸기'}와 {'포도', '레몬'}을 동시에 update후, a를 출력해봅시다.

a.update({'토마토','토마토','딸기'})
a.update({'포도','레몬'})

print(a)

{'딸기', '레몬', '토마토', '바나나', '포도', '사과', '수박'}

### `.remove(elem)`

elem을 셋(set)에서 삭제하고, 셋(set) 내에 elem이 존재하지 않으면 KeyError가 발생합니다.

In [85]:
a = {'사과', '바나나', '수박'}

In [86]:
# remove 메서드는 셋(set) 내에 elem 없는 경우, 오류를 발생시킵니다.
# a에서 '애플'을 remove하여 오류를 확인해봅시다.

a.remove('애플')

print(a)

KeyError: ignored

### `.discard(elem)`
`elem`을 셋(set)에서 삭제합니다.

remove와 다른 점은 elem이 셋(set) 내에 존재하지 않아도, 에러가 발생하지 않는다는 점입니다.

In [90]:
a = {'사과', '바나나', '수박'}

In [91]:
# a에 '포도'와 '수박'을 각각 discard한 이후 셋(set) a를 출력해봅시다.

a.discard('포도')
a.discard('수박')

print(a)

{'바나나', '사과'}

## 셋(set) 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [92]:
# dir 함수로 셋(set)이 가지고 있는 메서드를 확인할 수 있습니다.
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

---

# 딕셔너리(Dictionary)

> 변경 가능하고(mutable), 순서가 없고(unordered), 순회 가능한(iterable)
>
> `Key: Value` 페어(pair)의 자료구조

![image](https://user-images.githubusercontent.com/90173310/148152976-8565e877-2343-4364-97b5-7ad4efd73992.png)

## 조회

### `.get(key[, default])`

key를 통해 value를 가져옵니다.

key가 존재하지 않을 경우 None을 반환합니다.
<u>KeyError가 발생하지 않습니다.</u>

In [102]:
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [95]:
# get 메서드 없이 딕셔너리 my_dict의 key 'pineapple'의 value를 출력하는 코드를 실행시켜 오류를 확인해봅시다.

print(my_dict['pineapple'])

KeyError: ignored

In [96]:
# get 메서드로 딕셔너리 my_dict의 key 'pineapple'의 value를 출력해봅시다.

print(my_dict.get('pineapple'))

None

In [97]:
# get 메서드로 딕셔너리 my_dict의 key 'apple'의 value를 출력해봅시다.

print(my_dict.get('apple'))

사과

In [98]:
# get 메서드로 딕셔너리 my_dict의 key 'pineapple'의 value를 출력해봅시다.
# 단, key가 없다면 0을 반환하도록 해봅시다.

print(my_dict.get('pineapple',0))

0

### `.setdefault(key[, default])`
`dict.get()` 메서드와 비슷한 동작을 하는 메서드로, key가 딕셔너리에 있으면 value를 돌려줍니다.

get과 다른 점은 key가 딕셔너리에 없을 경우, default 값을 갖는 key 를 삽입한 후 default 를 반환한다는 점입니다. 만일 default가 주어지지 않을 경우, None 을 돌려줍니다.

In [99]:
# setdefault 메서드로 딕셔너리 my_dict의 key 'apple'의 value를 가져와서 출력해봅시다.

print(my_dict.setdefault('apple'))

사과

In [100]:
# setdefault 메서드를 통해 딕셔너리 my_dict의 key 'pineapple'의 value를 가져와서 출력해봅시다.
# 만일 pineapple이 없을 경우, '파인애플'을 출력하도록 합니다.

print(my_dict.setdefault('pineapple','파인애플'))

파인애플

In [101]:
# my_dict를 출력해봅시다.
print(my_dict)

{'apple': '사과', 'banana': '바나나', 'melon': '멜론', 'pineapple': '파인애플'}

In [103]:
print(my_dict.get('pineapple','파인애플'))
print(my_dict)

파인애플
{'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 해당 key가 딕셔너리에 없는 경우, KeyError가 발생합니다.

In [104]:
my_dict = {'apple': '사과', 'banana': '바나나'}

In [105]:
# pop 메서드로 딕셔너리 my_dict의 key 'apple'을 제거해봅시다.
# 제거 후, 딕셔너리 my_dict를 출력해봅시다.

my_dict.pop('apple')

print(my_dict)

{'banana': '바나나'}

In [106]:
# 제거하고자 하는 key가 딕셔너리에 없으면 KeyError가 발생합니다.
# 실행시켜 오류를 확인해봅시다.
my_dict.pop('melon')

KeyError: ignored

In [107]:
# pop 메서드의 두번째 인자로 default 값을 설정 해 KeyError가 발생하지 않도록 할 수 있습니다.
# pop 메서드로 딕셔너리 my_dict의 key 'melon'을 제거하고 해당 key가 없다면 0을 반환하도록 해봅시다.

print(my_dict.pop('melon',0))

0

In [108]:
print(my_dict)

{'banana': '바나나'}

### `.update([other])`
other 가 제공하는 key,value 쌍으로 딕셔너리를 덮어씁니다.
`other` 는 다른 딕셔너리나 key/value 쌍으로 되어있는 모든 iterable을 사용 가능합니다.

- `keyword argument`로 업데이트 하는 방법
    - 키워드 인자가 지정되면, 딕셔너리는 그 key/value 쌍으로 갱신됩니다.

In [109]:
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [110]:
# 딕셔너리 my_dict의 key가 'apple'일 때, value를 '사과아'로 업데이트해봅시다.
# update 메서드와 keyword argument를 이용하여 작성하세요.

my_dict.update(apple='사과아')

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론'}

In [111]:
# 딕셔너리 my_dict를 출력해봅시다.

print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론'}

In [112]:
# 딕셔너리를 사용하여 여러 key/value를 my_dict를 업데이트할 수 있습니다.
# key 'mango'와 value '망고'의 쌍과 key 'watermelon'과 '수박'의 쌍을 가지는 딕셔너리 d를 만들고,
# update 메서드를 사용하여 my_dict에 d 값을 업데이트해봅시다.

d = {'mango':'망고', 'watermelon':'수박'}

my_dict.update(d)

In [113]:
# 딕셔너리 my_dict를 출력해봅시다.

print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론', 'mango': '망고', 'watermelon': '수박'}

## 딕셔너리 메서드 모두 확인하기
파이썬 내장함수 dir을 통해 컨테이너가 가지고 있는 메서드를 확인할 수 있습니다.

In [114]:
# dir 함수로 딕셔너리가 가지고 있는 메서드를 확인할 수 있습니다.
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

---

# 얕은 복사와 깊은 복사

## 데이터 분류
**데이터의 분류**에 따라 복사가 달라집니다.
데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다. 먼저 변경 불가능한 데이터를 살펴보겠습니다.

### 변경 불가능한(`immutable`) 데이터
* 리터럴(literal)

    - 숫자(Number)
    - 글자(String)
    - 참/거짓(Bool)

* `range()`

* `tuple()`

* `frozenset()`

In [141]:
# immutable 데이터의 복사는 어떻게 이루어지는지 확인해봅시다.
a = 20
b = a

print(id(a))
print(id(b))
b = 10
#이제 a가 바뀌는지? 왜 안바뀌지 바뀌는것 같았는데
#immutable은 깊은복사가 되나?
print(a)
print(b)

11256672
11256672
20
10


<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 변경 가능한(`mutable`) 데이터

- `list`
- `dict`
- `set`

In [121]:
# mutable 데이터의 복사는 어떻게 이루어지는지 확인해봅시다.
a = [1, 2, 3, 4]
b = a
b[0] = 100

print(a)
print(b)

[100, 2, 3, 4]
[100, 2, 3, 4]

In [140]:
a = [1, 2, 3, 4]
b = a
print(id(a))
print(id(b))
b = [3,4,2]
print(id(b))

print(a)
print(b)

140078841805552
140078841805552
140078841815280
[1, 2, 3, 4]
[3, 4, 2]

In [147]:
a = [1, 2, 3, 4]
b = a
print(id(a))
print(id(b))
b += [5]

print(id(b))
print(a)
print(b)

140078842848592
140078842848592
140078842848592
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [146]:
a = (1, 2, 3, 4)
b = a

print(id(a))
print(id(b))

b += (5,) #immutable은 깊은 복사라고 봐야하나?? 근데 단순 할당에는 id가 같은거 보면 그냥 더하면 주소가 달라지는것 뿐인가

print(id(b))

print(a)
print(b)

140078841923920
140078841923920
140078842687664
(1, 2, 3, 4)
(1, 2, 3, 4, 5)


<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%20%5B1,%202,%203,%204%5D%0Ab%20%3D%20a%0Ab%5B0%5D%20%3D%20100%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

**복사 방법**

파이썬에서 데이터를 복사하는 방법은 크게, 세 가지로 나뉩니다.
> - 할당 (Assignment)
> - 얕은 복사 (Shallow copy)
> - 깊은 복사 (Deep copy)

## 할당
먼저 할당을 확인해 보겠습니다.

In [122]:
# original_list에 [1, 2, 3]을 저장합니다.
original_list = [1, 2, 3]

In [125]:
# 할당연산자(=)를 사용하여,
# copy_list에 original_list를 저장하고 출력합니다.

copy_list = original_list

In [126]:
# copy_list의 첫 번째 값을 5로 바꾸고 original_list를 출력해봅시다.

copy_list[0] = 5

print(original_list)

[5, 2, 3]

In [129]:
print(copy_list)

[5, 2, 3]

In [128]:
# copy_list, original_list 각각의 id 값을
# == 연산자로 비교해봅시다.

print(id(copy_list))
print(id(copy_list) == id(original_list))

140078841877440
True

변수만 복사하다 보니 바라보는 객체는 당연히 동일합니다.
<img src="https://user-images.githubusercontent.com/90173310/148327067-47a35f83-51a4-4c49-be1d-d5b40ece54df.png
" alt="drawing" width="400"/>

즉, 두개의 중 하나만 변경되어도 나머지 하나도 동일하게 수정되는 현상이 발생하게 됩니다.

## 얕은 복사(Shallow copy)

### slice 연산자 사용 `[:]`

mutable 데이터 중 하나인 리스트를 예로 들어봅시다.
리스트를 슬라이싱하여 할당 시, 새로운 id가 부여되며, 서로 영향을 받지 않습니다.

In [130]:
a = [1, 2, 3]

In [131]:
# slice 연산자로 리스트 a의 모든 요소를 b에 저장합니다.
# 리스트 b의 첫 번째 값을 5로 바꾸고 리스트 a를 출력합니다.
# slice 연산자를 활용하면 새로운 리스트를 저장할 수 있습니다.

b = a[:]

b[0] = 5

print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

### `list()` 활용

In [132]:
a = [1, 2, 3]

In [133]:
# list 함수로 리스트 a를 복사하여 b에 저장합니다.
# 리스트 b의 첫 번째 값을 5로 바꾸고 리스트 a를 출력합니다.

b = list(a)

b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 `얕은 복사(shallow copy)`입니다.

2차원 리스트와 같이 mutable 객체 안에 mutable 객체가 있는 경우 문제가 됩니다. 아래 예시를 통해 확인해봅시다.

In [134]:
a = [1, 2, [1, 2]]

In [135]:
# slice 연산자로 리스트 a의 모든 요소를 b에 저장합니다.
# 리스트 b의 index 2의 첫 번째 값을 5로 바꾸고 리스트 a와 b의 id와 그 값을 출력해봅시다.

b = a[:]

b[2][0] = 5

print(id(a))
print(id(b))

140078841951008
140078841832384

a와 b의 id는 다르다는 것을 확인하였지만, 내부 값은 영향을 받게 되었습니다.
<img src="https://user-images.githubusercontent.com/90173310/148327165-e695ed56-d0c0-4916-94e5-a0564aebf0a6.png" alt="drawing" width="400"/>

내부의 객체 `id(a[2])`과 `id(b[2])`은 같은 주소를 바라보고 있기 때문입니다.

In [136]:
# id 함수를 통해 a[2]와 b[2]가 서로 같은 주소를 바라보고 있는지 확인하고 이를 출력해봅시다.

print(id(a[2]))
print(id(b[2]))

140078842850752
140078842850752

## 깊은 복사(Deep copy)

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야 합니다. 
* 깊은 복사는 새로운 객체를 만들고 원본 객체 내에 있는 객체에 대한 복사를 재귀적으로 삽입합니다.
* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경되게 됩니다.

In [137]:
# 내부에 있는 리스트까지 복사를 하기 위해서 copy 모듈을 활용합니다.
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 3
print(a)

[1, 2, [1, 2]]

In [138]:
print(b)

[1, 2, [3, 2]]