# 6-1. 무엇이 중복일까

문자열을 전달 받아 해당 문자열에서 중복해서 나타난 문자들을 담은 리스트를 반환하는 duplicated_letters 함수를 작성

In [3]:
#from collections import Counter

def duplicated_letters(s):

    #count_dict = Counter(s)

    #char counting

    count_dict = {}

    for char in s:
        
        count_dict[char] = count_dict.get(char,0) + 1

    dup_list = []

    for key,value in count_dict.items():
        
        if value >= 2:
            
            dup_list.append(key)
    
    return dup_list

    
print(duplicated_letters('apple'))
print(duplicated_letters('banana'))

['p']
['a', 'n']

In [5]:
print(duplicated_letters('jeirqjsdjqwhehfwoiuerhqwgfsiudfhasjdwqoieqwe'))

['j', 'e', 'i', 'r', 'q', 's', 'd', 'w', 'h', 'f', 'o', 'u']

# 6-2. 소대소대

문자열을 전달 받아 해당 문자열을 소문자와 대문자가 번갈아 나타나도록 변환하여 반환하는 low_and_up 함수를 작성

전달받는 문자열은 알파벳으로만 구성

In [8]:
def low_and_up(s):
    
    transform_s = ''

    #첫 문자가 소문자이면 소대소대소대소대

    if s[0].islower():
        
        for ind,char in enumerate(s):
            
            if ind % 2 == 0:

                transform_s += char.lower()
            
            else:
                
                transform_s += char.upper()
    
    else: #첫문자가 대문자이면 대소대소대소대소
        
        for ind,char in enumerate(s):
            
            if ind % 2 == 0:
                
                transform_s += char.upper()
            
            else:
                
                transform_s += char.lower()

    
    return transform_s

print(low_and_up('apple'))
print(low_and_up('banana'))

aPpLe
bAnAnA

In [10]:
print(low_and_up('aigwernbopetjweqfxEJxjfwWOEKVQxeroqw')) #소대소대소대소대소대소대소대

aIgWeRnBoPeTjWeQfXeJxJfWwOeKvQxErOqW

In [11]:
print(low_and_up('AfijerjfivqweAKSDJERIJQWsjAIJEWPOIEksdqw')) #대소대소대소대소대소대소대소

AfIjErJfIvQwEaKsDjErIjQwSjAiJeWpOiEkSdQw

# 6-3. 솔로 천국 만들기

정수 0부터 9까지로 이루어진 리스트를 전달 받아 연속적으로 나타나는 숫자는 하나만 남기고 제거한 리스트를 반환하는 lonely함수를 작성

제거하고 나서 남은 수들이 담긴 리스트의 요소들은 기존의 순서를 유지

In [14]:
def lonely(num_list):
    
    lone_stack = []

    for num in num_list:
        
        """try:
            
            if lone_stack[-1] == num:
                
                pass
            
            else:
                
                lone_stack.append(num)
        
        except:
            
            lone_stack.append(num)"""
        
        if lone_stack == []:
            
            lone_stack.append(num)
        
        else:
            
            if lone_stack[-1] == num:
                
                pass
            
            else:
                
                lone_stack.append(num)
    
    return lone_stack


print(lonely([1,1,3,3,0,1,1]))
print(lonely([4,4,4,3,3]))

[1, 3, 0, 1]
[4, 3]

In [15]:
print(lonely([2,2,2,2,2,2,3,3,3,1,1,1,2,4,2,1,1,3,3,2,0,4,3,3,4,0,0,2,1]))

[2, 3, 1, 2, 4, 2, 1, 3, 2, 0, 4, 3, 4, 0, 2, 1]