# 1- 1. Python 예약어

### python에서 사용할 수 없는 식별자(예약어)를 찾아 작성

---

답)

**'False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break',
'class','continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for','from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not',
'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'**

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# 1- 2. 실수 비교

주어진 두 실수 값을 올바르게 비교하기 위한 코드 작성

- num1 = 0.1 * 3
- num2 = 0.3

python은 부동소수점 방식을 이용해서 실수(float)를 표현하는 과정에서 나타내고자 하는 값과 오차가 발생  

그래서 원하는대로 연산 또는 비교가 되지 않을 때가 있다.

이럴 때 발생하는 오차의 크기가 매우 작은 수와 비교해서 그 수보다 작다면 같은 값으로 인정하는 방법으로 수를 비교

In [ ]:
num1 = 0.1 * 3

num2 = 0.3

print(num1,num2)

0.30000000000000004 0.3

In [ ]:
num1 == num2 #혹시 True라고 나올지 몰라서 해봤는데 실제로 False라 하네;;

False

**답) 두 실수 값의 차이가 어떤 매우 작은 양수보다도 더 작다면 같다고 본다**

In [ ]:
#방법1
import math

math.isclose(num1,num2) #두 값의 차이가 매우 작은지 비교하는 함수

True

In [ ]:
#방법2

epsilon = 1e-10

print(abs(num1-num2) <= epsilon)

True

# 1- 3. 이스케이프 시퀀스

**답)**


**(1) 줄 바꿈 : &#92;n**

**(2) 탭 : &#92;t**

**(3) 백슬래시: &#92;&#92;**

In [ ]:
#줄바꿈
print('안녕하세요 \n 윤대혁입니다')

안녕하세요
 윤대혁입니다

In [ ]:
#탭
print('안녕하세요 \t 윤대혁입니다')

안녕하세요 	 윤대혁입니다

In [ ]:
#백슬래시

print('안녕하세요 \\ 윤대혁입니다')

안녕하세요 \ 윤대혁입니다

# 1- 4. String Interpolation

'안녕, 철수야'를 string interpolation을 이용하여 출력

In [ ]:
#f-string을 이용한 출력

name = '철수'
#name1 = '짱구'

print(f"안녕, {name}야")
#print(f'안녕, {name1}야')

안녕, 철수야

# 1-5. 형 변환

다음 중 오류가 발생하는 코드는? 

**답) (5) int('3.5')**


(1) str(1) : '1'로 정상 반환

(2) int('30') : 30은 정수니까 30으로 정상 반환

(3) int(5) : 바꿀거 없이 5로 정상 반환

(4) bool('50') : '50'은 Falsy가 아니니까 True로 정상 반환

(5) int('3.5') : 3.5는 정수가 아니니까 에러

In [ ]:
print(str(1))

1

In [ ]:
print(int('30'))

30

In [ ]:
print(int(5))

5

In [ ]:
print(bool('50'))

True

In [ ]:
print(int('3.5'))

ValueError: ignored

# 1-6. 네모 출력

두개의 정수 n과 m이 주어질 때 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 *(별)문자를 이용하여 출력

단, 반복문은 사용 금지

In [ ]:
n = 5

m = 9

#n,m = 5,9

In [ ]:
square = ('*'*n+'\n')*m

square #마지막에 \n이 들어가서 아쉽다는 점을 확인

'*****\n*****\n*****\n*****\n*****\n*****\n*****\n*****\n*****\n'

In [ ]:
print(square[:-1]) #슬라이싱을 이용해서 마지막 \n을 빼고 출력

*****
*****
*****
*****
*****
*****
*****
*****
*****

# 1- 7. 이스케이프 시퀀스 응용

print() 함수를 한번만 사용하여 다음 문장을 출력하시오

"파일은 c:\Windows\Users\내문서\Python에 저장이 되었습니다."  
나는 생각했다. 'cd를 써서 git bash로 들어가 봐야지.'

In [ ]:
print(""""파일은 c:\\Windows\\Users\\내문서\\Python에 저장이 되었습니다."\n나는 생각했다. 'cd를 써서 git bash로 들어가 봐야지.'""")

"파일은 c:\Windows\Users\내문서\Python에 저장이 되었습니다."
나는 생각했다. 'cd를 써서 git bash로 들어가 봐야지.'

In [ ]:
print(""""파일은 c:\\Windows\\Users\\내문서\\Python에 저장이 되었습니다."
나는 생각했다. 'cd를 써서 git bash로 들어가 봐야지.'""")

"파일은 c:\Windows\Users\내문서\Python에 저장이 되었습니다."
나는 생각했다. 'cd를 써서 git bash로 들어가 봐야지.'

In [1]:
print("\"파일은 c:\\Windows\\Users\\내문서\\Python에 저장이 되었습니다.\"\n나는 생각했다. 'cd를 써서 git bash로 들어가 봐야지.'")

"파일은 c:\Windows\Users\내문서\Python에 저장이 되었습니다."
나는 생각했다. 'cd를 써서 git bash로 들어가 봐야지.'

# 1 - 8. 근의 공식

이차방정식의 근의 공식을 파이썬 코드로 작성하시오

$$\frac{-b\pm\sqrt{b^{2}-4ac}}{2a}$$

$\pm$은 + , - 로 나눠서 작성

In [ ]:
#이차방정식의 계수 초기화
a = 1

b = -5

c = 6

#이차방정식의 근

#b**2 = b*b

root1 = (-b + (b**2 - 4*a*c)**(1/2)) / (2*a) #루트값은 1/2제곱과 같다 #**(1/2)
root2 = (-b - (b**2 - 4*a*c)**(1/2)) / (2*a)

In [ ]:
print(root1,root2)

3.0 2.0

# 2-1 Mutable & Immutable

주어진 컨테이너들을 변경 가능한 것과 변경 불가능한 것으로 분류


**답)**

**변경 가능(mutable): List, Set, Dictionary**

**변경 불가능(Immutable): String, Tuple, Range**

In [ ]:
#string은 왜 변경 불가능인가?

s1 = 'abcdefg'

print(s1)

abcdefg

In [ ]:
s1[2] = 'f'#변경할려고하면 에러남

TypeError: ignored

# 2-2 Dictionary 만들기

반 학생들의 정보를 이용하여 key는 이름, value는 나이인 dictionary를 만드시오

내 자리를 기준으로 앞, 뒤, 좌, 우에 앉아 있는 학생 정보를 참고하시오

In [ ]:
students = {'유승규':27, '박현영':25, '장진문':28, '최보영':25}

print(students)

{'유승규': 27, '박현영': 25, '장진문': 28, '최보영': 25}

# 2-3 평균 구하기

주어진 list에 담긴 숫자들의 평균값을 출력  

scores = [80,89,99,83]

In [ ]:
scores = [80, 89, 99, 83]

In [ ]:
#배운걸 이용해서 인덱싱으로 원소들의 합을 구하고

sum_score = scores[0] + scores[1] +scores[2] + scores[3]

In [ ]:
#리스트 길이 구하는 len()을 이용해서 합을 길이로 나눠주면 평균

mean_score = sum_score/len(scores)

print(mean_score)

87.75