# 3-1. built-in 함수

python에서 기본으로 사용할 수 있는 built-in 함수 최소 5가지 이상

**답) len(), sum(), print(), abs(), max() 등**

In [ ]:
a = [1,2,3,4,5]

print(len(a))

print(sum(a))

print(abs(-3))

print(max(a))

5
15
3
5

# 3-2. 홀수만 담기

range와 slicing을 활용하여 1부터 50까지 숫자 중 홀수로만 이루어진 리스트 구하기

In [ ]:
a = list(range(1,51)) #range로 1부터 50까지 숫자 담기

a = a[0::2] #slicing으로 홀수만 남기기

print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

# 3-3 반복문으로 네모 출력

두 정수 n,m이 주어질때 반복문을 사용하여 가로의 길이가 n, 세로의 길이가 m인 직사각형 형태를 *문자를 이용하여 출력

In [ ]:
n = 5

m = 9

for _ in range(m):
    
    print('*'*n)

*****
*****
*****
*****
*****
*****
*****
*****
*****

In [ ]:
#반복문만 사용하는방법?

n = 5

m = 9

for _ in range(m):
    
    for _ in range(n):

      print('*',end='') #'*'을 출력하고 끝에 ''을 붙여서 n개의 *을 이어붙임
    
    print(end = '\n') #n개의 *을 이어붙이고 끝에 한줄 띄기

*****
*****
*****
*****
*****
*****
*****
*****
*****

# 4-4. 조건 표현식

주어진 코드의 조건문을 조건 표현식으로 표현

In [ ]:
#조건표현식
temp = 36.5

print('입실 불가') if temp >= 37.5 else print('입실 가능')

입실 가능

In [ ]:
#문제 결과와 비교하기

temp = 36.5

if temp >= 37.5:
    
    print('입실 불가')

else:

    print('입실 가능')

입실 가능

# 4-5. 정중앙 문자

문자열을 전달 받아 해당 문자열의 정중앙 문자를 반환하는 함수 작성

길이가 짝수이면 정중앙 문자 2개를 반환

In [ ]:
def get_middle_char(s):
    
    len_s = len(s)

    mid = int(len_s/2)

    if len_s % 2 == 0:
        
        return s[mid-1]+s[mid]
    
    else:
        
        return s[mid]

In [ ]:
get_middle_char('ssafy')

'a'

In [ ]:
get_middle_char('yundaehyuck')

'e'

In [ ]:
get_middle_char('coding')

'di'

In [ ]:
get_middle_char('abcdefghijklmn')

'gh'