# 3-1. 세로로 출력하기

자연수 number를 입력받아 1부터 number까지 세로로 한줄씩 출력

In [1]:
number = int(input())

for num in range(1,number+1):
    
    print(num) #num을 출력하고 끝에 \n을 붙여서 한줄을 띈다. 기본값 end='\n'

10
1
2
3
4
5
6
7
8
9
10

# 3-2. 가로로 출력하기

자연수 number를 입력받아 1부터 number까지 가로로 한칸씩 띄어서 출력

In [2]:
number = int(input())

for num in range(1,number+1):
    
    print(num,end=' ') #num을 출력하고 end = ' '을 주어서 한칸을 띈다

10
1 2 3 4 5 6 7 8 9 10

# 3-3 거꾸로 세로로 출력하기

자연수 number를 입력 받아, number부터 0까지 수를 세로로 한줄씩 출력

In [3]:
number = int(input())

for num in range(number,-1,-1): #역순으로 number, number-1, number-2,...,0
    
    print(num)

5
5
4
3
2
1
0

# 3-4 거꾸로 출력해 보아요

자연수 number를 입력 받아, number부터 0까지 수를 가로로 한칸씩 띄어서 출력

In [4]:
number = int(input())

for num in range(number,-1,-1):
    
    print(num,end=' ')

5
5 4 3 2 1 0

# 3-5. N줄 덧셈

입력으로 자연수 number가 주어질 때, 1부터 주어진 자연수 number까지 모두 더한 값을 출력하시오.

주어진 숫자는 10000을 넘지 않는다.

예를 들어 주어진 숫자가 10일 경우 1+2+3+4+5+6+7+8+9+10 = 55이므로 출력값은 55

In [6]:
number = int(input())

sum = 0

for num in range(1,number+1):
    
    sum += num

print(sum)

10
55

# 3-6. 삼각형 출력

자연수 number를 입력받아 아래와 같이 높이가 number인 삼각형 출력

In [21]:
number = int(input())


for num in range(1,number+1):
    
    for _ in range(number-num):
        
        print('',end=' ')
    
    print('*'*num)

7
      *
     **
    ***
   ****
  *****
 ******
*******

In [43]:
number = int(input())

for num in range(1,number+1):
    
    print(f"{'*'*num:>{number}}") #vs. print(f"{string:>number}")

7
      *
     **
    ***
   ****
  *****
 ******
*******

# 3-7. 중간값 찾기

중간값은 통계 집단의 수치를 크기 순으로 배열 했을 때 전체의 중앙에 위치하는 수치

리스트 numbers에 입력된 숫자에서 중간값을 출력

In [10]:
numbers = [
           85,72,38,80,69,65,68,96,22,49,67,
           51,61,63,87,66,24,80,83,71,60,64,
           52,90,60,49,31,23,99,94,11,25,24
]

len_num = len(numbers) #numbers의 길이

numbers.sort() #numbers 오름차순 배열

mid = int(len_num/2)

if len_num % 2 == 0:
    
    print((numbers[mid-1]+numbers[mid])/2) #numbers의 길이가 짝수이면 중간값 2개의 평균으로

else:
    
    print(numbers[mid]) #numbers의 길이가 홀수이면 중간값 그대로

64