# 4-1. 간단한 N의 약수

입력으로 1개의 정수 N이 주어질 때 N의 약수를 오름차순으로 출력하는 프로그램

In [ ]:
N = int(input())

div_list = []

for div in range(1,N+1):
    
    if N % div == 0:
        
        div_list.append(div)
  

print(*div_list,sep= ' ')

10
1 2 5 10

# 4-2. list의 합 구하기

정수로만 이루어진 list를 전달 받아 해당 list의 모든 요소들의 합을 반환하는 list_sum 함수를 built-in 함수인 sum()을 사용하지 않고 작성

In [ ]:
def list_sum(int_list):
    
    int_sum = 0

    for num in int_list:
        
        int_sum += num
    
    return int_sum

print(list_sum([1,2,3,4,5]))

15

# 4-3. dictionary로 이루어진 list의 합

dictionary로 이루어진 list를 전달 받아 모든 dictionary의 'age' key에 해당하는 value들의 합을 반환하는 dict_list_sum 함수를 built-in 함수인 sum()을 사용하지 않고 작성

In [ ]:
def dict_list_sum(dict_list):
    
    age_sum = 0

    for d in dict_list:
        
        age_sum += d['age']
    
    return age_sum

print(dict_list_sum([{'name':'kim','age':12},{'name':'lee','age':4}]))

16

# 4-4. 2차원 list의 전체 합 구하기

정수로만 이루어진 2차원 리스트를 전달받아 해당 list의 모든 요소들의 합을 반환하는 all_list_sum 함수를 built-in 함수인 sum()함수를 사용하지 않고 작성

In [ ]:
def all_list_sum(two_list):
    
    list_sum = 0

    for one_list in two_list:
        
        for num in one_list:
            
            list_sum += num
    
    return list_sum

print(all_list_sum([[1],[2,3],[4,5,6],[7,8,9,10]]))

55

### 아스키 코드표 dict로 작성

In [ ]:
as_code = {'A':65, 'B':66, 'C':67,'D':68,'E':69,'F':70,'G':71,'H':72,'I':73,
           'J':74,'K':75,'L':76,'M':77,'N':78,'O':79,'P':80,'Q':81,'R':82,
           'S':83,'T':84,'U':85,'V':86,'W':87,'X':88,'Y':89,'Z':90,'a':97,
           'b':98,'c':99,'d':100,'e':101,'f':102,'g':103,'h':104,'i':105,'j':106,
           'k':107,'l':108,'m':109,'n':110,'o':111,'p':112,'q':113,'r':114,'s':115,
           't':116,'u':117,'v':118,'w':119,'x':120,'y':121,'z':122}

In [ ]:
# 아스키 코드를 구하는 함수

print(ord('a')) #하나의 문자를 아스키 코드로 변환

print(chr(67)) #아스키 코드 정수값을 문자로 변환

97
C

# 4-5. 숫자의 의미

정수로 이루어진 list를 전달 받아, 각 정수에 대응되는 아스키 문자를 이어붙인 문자열을 반환하는 get_secret_word 함수 작성

In [ ]:
as_code = {'A':65, 'B':66, 'C':67,'D':68,'E':69,'F':70,'G':71,'H':72,'I':73,
           'J':74,'K':75,'L':76,'M':77,'N':78,'O':79,'P':80,'Q':81,'R':82,
           'S':83,'T':84,'U':85,'V':86,'W':87,'X':88,'Y':89,'Z':90,'a':97,
           'b':98,'c':99,'d':100,'e':101,'f':102,'g':103,'h':104,'i':105,'j':106,
           'k':107,'l':108,'m':109,'n':110,'o':111,'p':112,'q':113,'r':114,'s':115,
           't':116,'u':117,'v':118,'w':119,'x':120,'y':121,'z':122}

def get_secret_word(int_list):
    
    #정수를 문자로 바꾸기 위해 as_code의 key:value를 value:key로 바꿈
    reverse_as_code = {}

    for key,value in as_code.items():
        
        reverse_as_code[value] = key
    
    #정수를 아스키 코드로 변환

    as_string = ''

    for num in int_list:
        
        as_string += reverse_as_code[num]
    
    return as_string


print(get_secret_word([83,115,65,102,89]))

"""#chr함수를 이용하여 구현

def get_secret_number(int_list):
    
    as_string = ''

    for num in int_list:
        
        as_string += chr(num) #아스키 숫자를 문자로 바꿔줌
    
    return as_string"""

SsAfY

# 4-6. 내 이름은 몇일까?

문자열을 전달 받아 해당 문자열의 각 문자에 대응되는 아스키 숫자들의 합을 반환하는 get_secret_number 함수 작성

In [ ]:
as_code = {'A':65, 'B':66, 'C':67,'D':68,'E':69,'F':70,'G':71,'H':72,'I':73,
           'J':74,'K':75,'L':76,'M':77,'N':78,'O':79,'P':80,'Q':81,'R':82,
           'S':83,'T':84,'U':85,'V':86,'W':87,'X':88,'Y':89,'Z':90,'a':97,
           'b':98,'c':99,'d':100,'e':101,'f':102,'g':103,'h':104,'i':105,'j':106,
           'k':107,'l':108,'m':109,'n':110,'o':111,'p':112,'q':113,'r':114,'s':115,
           't':116,'u':117,'v':118,'w':119,'x':120,'y':121,'z':122}

def get_secret_number(s):
    
    as_sum = 0

    for c in s:
      
        as_sum += as_code[c] #as_sum += ord(c) #문자를 아스키숫자로
    
    return as_sum

print(get_secret_number('happy'))

546

# 4-7. 강한 이름

문자열 2개를 전달 받아 두 문자열의 각 문자에 대응되는 아스키 숫자들의 합을 비교하여 더 큰 합을 가진 문자열을 반환하는 get_string_word함수를 작성하시오  

단 두 문자열의 아스키 숫자의 합이 같은 경우, 둘 다 반환

In [ ]:
as_code = {'A':65, 'B':66, 'C':67,'D':68,'E':69,'F':70,'G':71,'H':72,'I':73,
           'J':74,'K':75,'L':76,'M':77,'N':78,'O':79,'P':80,'Q':81,'R':82,
           'S':83,'T':84,'U':85,'V':86,'W':87,'X':88,'Y':89,'Z':90,'a':97,
           'b':98,'c':99,'d':100,'e':101,'f':102,'g':103,'h':104,'i':105,'j':106,
           'k':107,'l':108,'m':109,'n':110,'o':111,'p':112,'q':113,'r':114,'s':115,
           't':116,'u':117,'v':118,'w':119,'x':120,'y':121,'z':122}

def get_strong_word(*strings):
    
    s1,s2 = strings

    as_sum1 = 0
    as_sum2 = 0

    for c in s1:
        
        as_sum1 += as_code[c] #as_sum1 += ord(c)
    
    for c in s2:
        
        as_sum2 += as_code[c] #as_sum2 += ord(d)
    
    #as_sum1 = get_secret_number(s1)
    #as_sum2 = get_secret_number(s2)
    
    if as_sum1 > as_sum2:
        
        return s1
    
    elif as_sum1 < as_sum2:
        
        return s2
    
    else:
        
        return s1,s2

print(get_strong_word('z','a'))

print(get_strong_word('delilah','dixon'))

print(get_strong_word('moth','wolf'))

z
delilah
('moth', 'wolf')