# 2-1. 숫자의 입력과 출력

입력 받은 데이터를 숫자로 변환하고 덧셈해서 출력하는 프로그램

In [1]:
num1 = int(input())
num2 = int(input())

print(num1+num2)

6374
8729
15103

# 2-2. Dictionary를 활용하여 평균 구하기

좋아하는 점심메뉴를 이용하여 key는 메뉴, value는 가격인 dictionary를 만들고 점심메뉴의 평균 구하기

In [2]:
lunch = {'라면':1700, '햄버거세트':5700, '멸치국수':5000, '토스트':3700, '김밥':2000}

mean_lunch = (lunch['라면'] + lunch['햄버거세트'] + lunch['멸치국수'] + lunch['토스트'] + lunch['김밥'])/5

print(mean_lunch)

3620.0